---
layout: blog
category: blog
{{#title}}title: "{{{title}}}"
{{/title}}date: "{{iso8601}}"
{{#has_tags}}tags:
{{#tags}}  - "{{.}}"
{{/tags}}
{{/has_tags}}original_service: {{service}}
original_url: "{{{post_url}}}"
tumblr_post_type: {{type}}
{{#in_reply_to_url}}in_reply_to_url: {{{in_reply_to_url}}}
{{/in_reply_to_url}}atomid: "{{{post_url}}}"
{{#geo}}geo:
  name: {{geo}}
{{/geo}}---
